solutions/SolutionALM/Workflows/SendNotificationtoSalesManagerwhenaNewSalesOrderis-D0DE931B-CE7A-EC11-8D21-000D3A88FEB4.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"contoso_sharedcommondataserviceforapps_47810"},"api":{"name":"shared_commondataserviceforapps"}},"shared_teams":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"contoso_sharedteams_c6995"},"api":{"name":"shared_teams"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"metadata":{"operationMetadataId":"489c5ba7-74d1-4926-9dfa-13ba2a7ed4c6"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"contoso_salesorder","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"List_rows":{"runAfter":{},"metadata":{"operationMetadataId":"9fac03d4-a470-4ba2-ba20-9f5332c574f8"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"environmentvariablevalues","$select":"value","$filter":"schemaname eq 'E81039CF-1E1E-4F51-9252-A1FC05258D24'","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_rows')?['body/value']","actions":{"Post_message_in_a_chat_or_channel":{"runAfter":{},"metadata":{"operationMetadataId":"587635d8-fd84-45e2-8e1d-6e90715a0c86"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostMessageToConversation","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"@{items('Apply_to_each')?['value']};","body/messageBody":"<ul>\n  <li><strong>Order Date: </strong>@{triggerOutputs()?['body/contoso_orderdate']}</li>\n  <li><strong>Region: </strong>@{triggerOutputs()?['body/contoso_region']}</li>\n  <li><strong>Sales Rep:</strong> @{triggerOutputs()?['body/contoso_rep']}</li>\n  <li><strong>Item:</strong> @{triggerOutputs()?['body/contoso_item']}</li>\n  <li><strong>Units:</strong> @{triggerOutputs()?['body/contoso_units']}</li>\n  <li><strong>Unit Cost: </strong>@{triggerOutputs()?['body/contoso_unitcost']}</li>\n  <li><strong>Total Cost:</strong> @{triggerOutputs()?['body/contoso_total']}</li>\n</ul>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows":["Succeeded"]},"metadata":{"operationMetadataId":"2cc52216-940d-4b66-86d4-59865e054439"},"type":"Foreach"}}}},"schemaVersion":"1.0.0.0"}